@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,800&display=swap');

body {overflow-x: hidden; overflow-x: hidden; padding-left: 5vw; padding-right: 5vw; background-color: #FCFCFC; color: #1D1A05;} 
.stop-scrolling {height: 100%; overflow: hidden;}

* {font-family: 'EB Garamond', serif; text-align: center; overflow-wrap: break-word; font-weight: 400; font-size: 1.5rem;}

h1 {font-weight: 400; font-size: 9vh;}
h2 {font-weight: 400; font-size: 5vh;}
div {padding: 0; margin: 0;}

ul {margin-top: 5px;}
li {list-style-type: none; position: relative;}
li::before {content: '■'; position: absolute; left: -0.8em; top: -0.1rem; font-size: 1rem;}
li p {text-align: left;}

dialog {padding-left: 5vw; padding-right: 5vw; overflow-y: scroll; width: 80vw; height: 80vh;}
dialog .close-btn {text-align: end;}
dialog p {text-align: left;}
dialog img, video {width: 75vw; object-fit: contain; border-style: solid;}

p {font-weight: 400; font-size: 0.85rem; margin-top: 0px; padding-top: 0px;}
.p-bold {font-weight: 700; font-size: 0.85rem; margin-right: 15px; margin-top: 0px; padding-top: 0px;}
.p-italics {font-style: italic;}

button {font-weight: 400; font-size: 1rem; margin: 2vw; border-style: hidden; padding: 0; background-color: #FCFCFC;
  background-image: linear-gradient(#429EA6 0 0); background-position: right -100% bottom 0;
  background-size: 200% 2px; background-repeat: no-repeat;}
button:hover, button:focus {color: #429EA6; background-position: left -100% bottom 0;
  transition: background-position 0.5s;}

.section {border-style: solid hidden hidden hidden; margin: 0; padding: 10px; margin: 20px;}
.section h1 {font-size: 2rem; font-weight: 400;}
.section img {height: 100px; border-radius: 20px; object-fit: contain; margin-top: 10px; margin-left: 0px;}

.landing {display: flex; justify-content: center; padding: 1rem;}
.landing p {font-weight: 400; font-size: 3.5vw;}

.item-div {width: 500px; border-style: solid; margin: 10px; padding-left: 10px; padding-right: 10px;}
.item-div img {border-radius: 0px;}

.item2-div {width: 500px; border-style: solid; margin: 10px; padding: 10px}
.item2-div img {border-radius: 0px; width: 335px; height: auto; margin-bottom: 20px;}

.inline-center {display: flex; justify-content: center; flex-wrap: wrap;}

.nav-bar-horizontal {text-align: end;}
.nav-bar-horizontal li {display: inline; font-style: italic; font-size: 0.9rem;}
.nav-bar-horizontal li a {display: inline; font-style: italic; font-size: 0.9rem; color: #429EA6;}
.nav-bar-horizontal li::before {content: '';} 
